#logo{
    display: flex;
    height: 40px;
    padding: 10px;
    margin: 16px;
}
.header-links{
    display: flex;
    align-items: center;
    gap: 10px;
}
header{
    font-family:'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont, "Helvetica Neue", arial, sans-serif;
    align-items: center;
    display:flex;
    justify-content: space-between;
}

#logo-tienda-nube{
    display: flex;
    align-items: center;
    gap: 5px; /* es lo que separa el icono del texto Login */
    text-decoration: none;
    width: 16px;
    height: 16px;
}
header div{
    display: block;
    font-family: 'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont, "Helvetica Neue", arial, sans-serif;
}

h1{
    font-family: 'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont, "Helvetica Neue", arial, sans-serif;
    font-size: 42px;
    color: white;
    font-weight: 5;
    margin : 24px;
    letter-spacing: -.54px;
    margin-top: 100px;
}

section{
    padding-right: 90px;
    padding-left: 90px;
    padding-bottom: 54px;
}

p{
    font-family:'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont, "Helvetica Neue", arial, sans-serif;
    color : white;
    margin-top: 16px;
    margin: 24px;
}

.parrafo2{
    font-family: 'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont, "Helvetica Neue", arial, sans-serif;
    color: white;
    font-size: 14px;
    margin-top: 9px;
    display:block;
}
#span-pg1{
    color: white;
}
body{
    background-color: #0050c3;
    margin: 0px;
    font-family: 'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont, "Helvetica Neue", arial, sans-serif;
}


.boton{
    text-decoration: none;
    border-radius: 100px;
    align-items: center;
    transition: 0.2s;
    padding: 10px 24px;
    border: 1px;
}


.boton-principal{
    background-color: white;
    color: #0050c3;
    border: 1px solid transparent;
}
.boton-principal:hover{
    background-color: #0050c3;
    color: white;
    border-color: white;
}

.boton-secundario{
    background-color: #0050c3;
    color: white;
    border: none;
    height: 100%;
    width: 250px;
    border-radius: 48px;
    padding: 12px 24px;
  }
.boton-secundario:hover{
    color: #0050c3;
    background-color: white;
    border: 1px solid #0050c3;
}
input{
    height: 100%;
    width: 100%;
    border-radius: 48px;
    border: none;
    outline: none;
    font-family: 'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont, "Helvetica Neue", arial, sans-serif;
    font-size: 16px;
    text-align: left;
    padding: 0px 16px;
}
.input-container{
    height: 43px;
    width: fit-content;
    padding: 6px 6px;
    border-radius: 48px;
    background-color: white;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
}
  

#imagen-hero{
    display: flex;
    height: 500px;
    max-width: 100%;
    margin-top: 80px;
    margin-right: 50px;
}

#Cajaprincipal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 54px;
}

.segundofondo{
    background-color: white;
    height: 100vh;
    width: 100vw;
    padding: 120px 0px 0px;
}

.segundofondo h2{
    text-align: center;
    font-size: 42px;
    color: #171E43;
}
.contenedor-pg2{
    padding: 13.5px;
    margin: 23.2px;
}
.contenedormenor-pg2{
    display: flex;
    gap: 20px;
}
.caja-pg2{
    border: 1px solid #2375e7;
    border-radius: 10px;
    padding: 32px;
    width: 474px;
    height: 173px;
    color: #171E43
}

.span-pg2{
    color: #343537;
}
.icon-pg2{
    width: 24px;
    height: 24px;
}


.tercerfondo{
    background-color: white;
    height: 100vh;
    width: 100vw;
    padding: 120px 0px 0px;
}
.icon-pg3{
    width: 32px;
    height: 32px;
    margin-right: 12px;
}
.item-pg3{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    
}
.contenedormenor-pg3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px;
    width: 100%;
    gap: 100px;
    padding-top: 10px;
}
.tercerfondo h2{
    text-align: center;
    font-size: 40px;
    color: #171E43;
}
.listado-pg3 h3{
    font-size: 32px;
    margin-top: 0;
    color: #171E43;
}

.listado-pg3{
    padding: 20px;
    padding-bottom: 100px;
}

.main-icon-pg3{
    width: 513px;
    height: 533px;
}

.tercerfondo .boton-secundario{
    text-decoration: none;
    border-radius: 100px;
    align-items: center;
    transition: 0.2s;
    padding: 10px 24px;
    border: 1px;
}
.tercerfondo span{
    font-size: 18px;
    color: #171E43;
}

.cuartofondo{
    height: 100vh;
    width: 100vw;
    padding: 120px 0px 0px;
}
.contenedor-pg4{
    display: flex;
    height: 100%;
}
.contenedormenor-pg4{
    display: flex;
    gap: 20px;
    height: 80%;
    margin: 0;
    padding: 0;
}

.cuartofondo h2{
    color: white;
    font-size: 38px;
    margin: 0px 15px 24px 15px;
    text-align: left;
    font-weight: 600;
}

.caja-pg4{
    background-color: white;
    border-radius: 5%;
    border: 1px solid #ecebec;
    padding: 48px 24px;
    height: 100%;
    width: 100%;
    margin: 0;

}
.caja-pg4 h4{
    font-size: 24px;
    margin: 0px 0px 12px;
    color: #343537;
    font-weight: 100;
    font-family: 'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont, "Helvetica Neue", arial, sans-serif;
    padding-bottom: auto;
    margin: 0;
}
.cajaspan-pg4{
    margin-top: 54px;
}

.cajaspan-pg4 p{
    font-size: 18px;
    color: #343537;
    margin: 0;
    margin-bottom: 5px;
    font-family: 'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont, "Helvetica Neue", arial, sans-serif;
}
.cajaspan-pg4 a{
    color: #0050c3;
    font-size: 14px;
    padding: 0px 0px 3px;
    font-weight: 600;
    font-family: 'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont, "Helvetica Neue", arial, sans-serif;
}
.item-pg4{
    font-size: 120px;
    height: 50px;
    padding-bottom: 20px;
    margin-left: -3px;
    color: #171e43;
}

.quintofondo{
    background-color: white;
    height: 100vh;
    width: 100vw;
    padding: 60px 0px;
    font-size: 18px;
    color: #343537;
}
.contenedor-pg5{
    margin: 0px 67px;
    padding: 0px 13.5px;
}
.contenedortitulo-pg5{
    text-align: center;
    font-size: 36px;
    color: #171E43;
    padding: 0px 13.5px;
}
.contenedordecajas-pg5{
    display: flex;
    justify-content: space-between;
    padding: 0px 13.5px;
    margin: 0px 0px 24px;
    gap: 3%;
}
.caja-pg5{
    border: 1px solid #2375e7;
    border-radius: 16px;
    width: 100%;
    height: 100%;
    padding: 40px 24px;    
}

.caja-pg5 p{
    color: #4B5FA0;
    font-size: 16px;
    margin: 0px 0px 9px
}
.caja-pg5 a{
    color: #0050c3;
    padding: 0px 0px 3px;
    font-size: 14px;
    margin-top: 32px;
}
.sextofondo{
    background-color: white;
    height: 100vh;
    width: 100vw;
    padding: 60px 0px;
}
.contenedor-pg6{
    display: flex;
    align-items: center;
    margin-right: 80px;
}
.contenedorimagen-pg6{
    margin-left: 100px;
    margin-right: -120px;
    padding: 0px 13,5px 0px 13,5px;
}
.main-photo-pg6{
    max-width: 60%;
    height: auto;
}
.contenedortexto-pg6{
    margin-right: 50px;
}
.titulo-pg6{
    margin: 0px 0px 24px;
    color: #171E43;
    font-size: 32px;
    font-weight: 600;
    font-family:'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont, "Helvetica Neue", arial, sans-serif;
}
.p-pg6{
    font-size: 18px;
    color: #343537;
    font-weight: 400;
    margin-left: -20px;
    font-family:'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont, "Helvetica Neue", arial, sans-serif;
}
.urgent-correction{
    margin-left: -20px;
}
.sextofondo .boton-secundario{
    text-decoration: none;
    border-radius: 100px;
    align-items: center;
    transition: 0.2s;
    padding: 10px 24px;
    margin-top: 32px;
    border: 1px solid #0050c3;
    font-family:'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont, "Helvetica Neue", arial, sans-serif;
}

.septimofondo{
    background-color: white;
    height: 100vh;
    width: 100vw;
    padding: 300px 0px;
}
.contenedor-pg7{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    gap: 40px;
}
.contenedortexto-pg7{
    font-size: 25px;
    width: 100%;
    color:#171E43;
    font-family:'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont, "Helvetica Neue", arial, sans-serif;
    justify-content: right;
}
.contenedor-pg7 h2{
    font-weight: 500;
}
.contenedorpreguntas-pg7{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 110px;
}
.preguntas-pg7{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#171E43;
    font-size: 24px;
    font-weight: 400px;
    padding: 15px 0;
    font-family:'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont, "Helvetica Neue", arial, sans-serif;
}
.respuestas-pg7{
    color: #343537;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 15px;
    font-family:'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont, "Helvetica Neue", arial, sans-serif;
}
.preguntasyrespuestas-pg7{
    margin-bottom: 20px;
}
.respuestas-pg7 a{
    text-decoration: none;
    color: #0050c3;
}

.conteinermayor{
    margin: 24px;
    margin-left: 60px;
}
.conteinermayor .abajo{
    margin-top: 3px;
    color:rgb(199, 193, 193);
}

.conteinermayor .arriba{
    margin-bottom: 0px;
}

.contenedor-footer{
    display: flex;
    justify-content: space-between;
    padding:13.5px;
}
.logos-footer{
    margin-right: 100px;
    margin-top:50px;
    padding-right: 13.5px;
    
}
#logo-instragram{
    height: 24px;
    width: 24px;
    margin-right: 5px;
}
#logo-youtube{
    height: 24px;
    width: 24px;
    margin-right: 5px;
}
#logo-x{
    height: 24px;
    width: 24px;
    margin-right: 5px;
}
#logo-linkedin{
    height: 24px;
    width: 24px;
    margin-right: 5px;
}
#logo-facebook{
    height: 24px;
    width: 24px;
}